Case_Study_IDA_Group_33/Data/Komponente/Komponente_K5.csv
Case_Study_IDA_Group_33/Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM1_Typ11.csv
Case_Study_IDA_Group_33/Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM1_Typ12.csv
Case_Study_IDA_Group_33/Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM2_Typ21.csv
Case_Study_IDA_Group_33/Data/Fahrzeug/Bestandteile_Fahrzeuge_OEM2_Typ22.csv
Case_Study_IDA_Group_33/Data/Fahrzeug/Fahrzeuge_OEM1_Typ11.csv
Case_Study_IDA_Group_33/Data/Fahrzeug/Fahrzeuge_OEM1_Typ12.csv
Case_Study_IDA_Group_33/Data/Fahrzeug/Fahrzeuge_OEM2_Typ21.csv
Case_Study_IDA_Group_33/Data/Fahrzeug/Fahrzeuge_OEM2_Typ22.csv
Case_Study_IDA_Group_33/Data/Komponente/Bestandteile_Komponente_K1BE1.csv
Case_Study_IDA_Group_33/Data/Komponente/Bestandteile_Komponente_K2LE1.csv
Case_Study_IDA_Group_33/Data/Komponente/Bestandteile_Komponente_K2ST1.csv
Case_Study_IDA_Group_33/Data/Komponente/Bestandteile_Komponente_K3AG1.csv
Case_Study_IDA_Group_33/Data/Komponente/Bestandteile_Komponente_K3SG1.csv
Case_Study_IDA_Group_33/Data/Komponente/Bestandteile_Komponente_K4.csv
Case_Study_IDA_Group_33/Data/Komponente/Bestandteile_Komponente_K5.csv
Case_Study_IDA_Group_33/Data/Komponente/Komponente_K1BE1.csv
Case_Study_IDA_Group_33/Data/Komponente/Komponente_K1DI2.txt
Case_Study_IDA_Group_33/Data/Komponente/Komponente_K2LE1.txt
Case_Study_IDA_Group_33/Data/Komponente/Komponente_K2ST1.txt
Case_Study_IDA_Group_33/Data/Komponente/Komponente_K3AG1.csv
Case_Study_IDA_Group_33/Data/Komponente/Komponente_K3SG1.csv
Case_Study_IDA_Group_33/Data/Komponente/Komponente_K4.csv
